/* font */
/* @font-face {
    font-family: "noto-sans-kr";
    src: url("./font/NotoSansKR-VariableFont_wght.ttf");
} */   

/* general */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* color: #F6F2EE; */
    font-size: 16px;
    font-family: noto-sans-kr;
}

.con-wrap-row {
    display: flex;
}

.con-wrap-row-gap-3 {
    display: flex;
    gap: 12px;
}

.con-wrap-row-gap-6 {
    display: flex;
    gap: 24px;
}

div#full-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

div#app-boundary {
    max-width: 600px;
    width: 100%;
    height: 800px;
    /* padding: 12px; */
    /* background-color: darkkhaki; */
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: end;
}

div#app-boundary header#header {
    font-size: 24px;
    font-weight: 900;
    background-color: black;
    width: 100%;
    color: white;
    padding: 24px 48px;
    border-radius: 12px 12px 0 0;
    height: 77px;
}

div#app-boundary main#main {
    padding: 0 48px;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: end;
    
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: black transparent;
}
div#app-boundary main#main div.todo-row {
    display: flex;
    gap: 12px;
    padding: 8px;
    align-items: center;
}
div#app-boundary main#main div.todo-row button.delete-button {
    width: 30px;
    height: 30px;
    padding: 8px;
    border-radius: 50%;
    border: none;
    background-color: black;
    /* align-self: center; */
}
div#app-boundary main#main div.todo-row p {
    padding: 12px;
    /* background-color: cornflowerblue; */
    border-radius: 12px;
    border: 1px solid black;
}
div#app-boundary main#main div.todo-row p.isDone {
    background-color: darkgreen;
}

div#app-boundary footer#footer {
    width: 100%;
    background-color: black;
    border-radius: 0 0 12px 12px;
    padding: 12px 48px;
    height: 83px;
}

div#app-boundary footer#footer form#form {
    width: 100%;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    border-radius: 12px;
    /* border: 1px solid white; */
    background-color: white;
}

div#app-boundary footer#footer form#form input#todo-input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
}
div#app-boundary footer#footer form#form input#todo-input:focus {
    outline: none;
}
div#app-boundary footer#footer form#form input#todo-input:focus {
    outline: none;
}

div#app-boundary footer#footer form#form button#add-button {
    padding: 12px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 12px;
    /* display: block; */
}
